body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    overflow: hidden;
}

.page {
    position: absolute;
    opacity: 1;
    transition: all 1s ease;
}

.first.page {
    background-color: rgb(243, 118, 118);
}

.second.page {
    background-color: yellow;
}

.third.page {
    background-color: rgb(15, 235, 15);
}

.page > h1 {
    font-size: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -107%);
    transition: all 0.3s ease;
}

.hide {
    opacity: 0;
    transition: all 1s ease;
}

.sidenav {
    z-index: 5;
    display: flex;
    align-items: center;
    justify-items: center;
    position: fixed;
    left: 90%;
    top: 0%;
    width: 10%;
    height: 100%;
    transition: all 0.3s ease;
}

.indicator {
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 103%;
    top: 50%;
    width: 30px;
    height: 30px;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding: 10px;
    border-radius: 200px;
    transition: all 0.3s ease;
}

.dot {
    z-index: 5;
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 5px;
    border-radius: 200px;
    transition: all 0.3s ease;
}

.dot.hover {
    width: 40px;
    height: 40px;
    transition: all 0.3s ease;
}

.indicator.show {
    left: 95%;
    width: 20px;
    height: 100px;
    transition: all 0.3s ease;
}

.indicator.show:hover{
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 150px;
}

.dot.active {
    background-color: rgba(255, 255, 255, 1);
}

.dot.hover:not(.active):hover{
    background-color: rgba(190, 190, 190, 0.5);
}

.pageno {
    opacity: 1;
    position: fixed;
    z-index: 5;
    font-size: 30px;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
    color: white;
    padding: 10px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 25px;
}